body{
    font-family: Georgia, 'Times New Roman', Times, serif; /*cari yg lain*/
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 30cm;
    margin: 0 auto;
    padding: 20px;
    background-image: url(image/mylivewallpapers-com-Beautiful-Outdoors-4K.mp4); /* ganti gambar org */
    background-size: cover;
    color: #fff;
}

#myBox {
    width: 100%;
    box-sizing: border-box;
    border: solid 5px #969d96;
    box-shadow: 20%;
    height: 380px;
    border: 5%;
    padding-top: 85px;
    margin-top: 90px;
    background-color: rgba(105, 105, 105, 0.7); /* dimgray with 70% opacity */
}

/* Adjust the color of the text */
#myBox h3,
#myBox #time,
#myBox select,
#myBox button {
    color: #000; /* Text color */
}

#time{
    font-size: 65px;
    margin-top: -65px;
}

h3{
    color: #000; /* change color ntar */
    margin-top: -20px;
    margin-bottom: 10px;
}

#alarmHrs,
#alarmMnt,
#alarmSec,
#mySelect {
    width: 100px;
    padding: 10px 20px;
    margin: 8px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    width: 100px;
    background-color: #fff;
    color: #000;
    padding: 14px 10px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #b4b4b4;
}
